docs/n8n-workflows/vouchervault-rail-ticket-import.json
{
  "name": "VoucherVault - Rail eTicket Auto-Import",
  "nodes": [
    {
      "parameters": {
        "content": "## Before you activate this\n\n1. **Gmail credential** — the 'Watch for Ticket Emails' trigger needs a Gmail OAuth2 credential. Add one under Credentials → New → Gmail OAuth2 API, then select it on that node **and** on the two HTTP Request nodes 'Get Full Message' and 'Fetch Attachment Data'.\n\n2. **VoucherVault API token** — on your VoucherVault server:\n   `docker compose exec app python manage.py drf_create_token <your-username>`\n   Then in n8n: Credentials → New → Header Auth, Name=`Authorization`, Value=`Token <the-token>`. Select it on the 'Create VoucherVault Item' node.\n\n3. **Gmail labels** — create two labels in Gmail first: `VoucherVault-Processed` and `VoucherVault-Failed`. The workflow applies these after each attempt so it never reprocesses an email (the trigger's search query already excludes anything labeled Processed).\n\n4. **ntfy topic** — edit the 'Notify: Success' and 'Notify: Failed' HTTP Request nodes and replace `CHANGE_ME` in the URL with your ntfy topic name (e.g. `https://ntfy.sh/my-vv-tickets`). Set up the ntfy credential or remove the auth header if using a public topic.\n\n5. **Sender filter** — the trigger searches for emails from common UK rail booking vendors plus SimpleLogin-forwarded addresses. Edit the `q` field if you need further scoping.\n\n6. **Testing** — right-click 'Watch for Ticket Emails' and choose **Fetch Test Event** against a real ticket email in your inbox. Do not use pinned test data — it doesn't include binary attachments.\n\n---\n**Why HTTP Request instead of the Gmail node for attachments:**\nThe Gmail API only inlines attachment data for files smaller than ~10 KB. Larger files (like ticket PDFs) need a separate `messages.attachments.get` call that n8n's built-in Gmail node does not make. This workflow calls the Gmail REST API directly, which works reliably for any size PDF.\n\n**Multiple PDFs per email:**\nThe 'Extract PDF Parts' Code node returns one item per PDF found. All downstream nodes run once per PDF, so a multi-leg booking is fully handled in one execution.\n\n**Inline PDF branch:**\nSmall PDFs (<~10 KB) have base64 data inline in the full-message response. The 'Needs Fetch?' node routes these directly to 'Convert to Binary (inline)', skipping the separate attachment fetch.\n\n**Error handling:**\n'Get Full Message' and 'Fetch Attachment Data' both use `onError: continueErrorOutput`. Their error output is wired to 'Label: Failed' so the email is always labelled even when Gmail API calls fail, and 'Notify: Failed' fires an ntfy alert.",
        "height": 1120,
        "width": 480
      },
      "id": "379d406a-a4b7-4a06-b507-0c4c88ff7d46",
      "name": "Setup notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-1500, 60]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 15,
              "unit": "minutes"
            }
          ]
        },
        "simple": false,
        "filters": {
          "q": "(from:(uber.com OR omio.com OR greateranglia.co.uk OR trainline.com) OR from:simplelogin.co) has:attachment filename:pdf -label:VoucherVault-Processed -label:VoucherVault-Failed"
        },
        "options": {}
      },
      "id": "af0a1237-bc53-4217-8d00-102c478ec2d4",
      "name": "Watch for Ticket Emails",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [-976, 220],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://gmail.googleapis.com/gmail/v1/users/me/messages/' + $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gmailOAuth2",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "format",
              "value": "full"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "a1b2c3d4-1234-4abc-8def-000000000001",
      "name": "Get Full Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-736, 220],
      "onError": "continueErrorOutput",
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Walk the MIME part tree and return ONE ITEM PER PDF found.\n// Large PDFs have body.attachmentId; small ones have body.data inline.\n// Returning multiple items means all downstream nodes run once per PDF,\n// so a multi-leg booking with several PDFs in one email is fully handled.\n\nfunction findPdfParts(parts, found) {\n  if (!parts) return;\n  for (const part of parts) {\n    const mime = (part.mimeType || '').toLowerCase();\n    const fname = (part.filename || '').toLowerCase();\n    if (mime.includes('pdf') || fname.endsWith('.pdf')) {\n      found.push(part);\n    } else {\n      findPdfParts(part.parts, found);\n    }\n  }\n}\n\nconst msg = $json;\nconst pdfParts = [];\nfindPdfParts(msg.payload && msg.payload.parts, pdfParts);\n\nif (pdfParts.length === 0) {\n  return [{ json: { messageId: msg.id, found: false, attachmentId: null, inlineData: null } }];\n}\n\nreturn pdfParts.map(part => {\n  const body = part.body || {};\n  return {\n    json: {\n      messageId: msg.id,\n      found: true,\n      attachmentId: body.attachmentId || null,\n      inlineData: body.data || null,\n      filename: part.filename || 'ticket.pdf',\n      mimeType: part.mimeType || 'application/pdf',\n    }\n  };\n});"
      },
      "id": "b2c3d4e5-2345-4bcd-9ef0-000000000002",
      "name": "Extract PDF Parts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-496, 220]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-pdf-found",
              "leftValue": "={{ $json.found }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e1859fa7-6a16-43c9-a843-7ad5480da4c4",
      "name": "Has PDF?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-256, 220]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-needs-fetch",
              "leftValue": "={{ !!$json.attachmentId }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f1a2b3c4-5678-4abc-bdef-000000000010",
      "name": "Needs Fetch?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-16, 140]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://gmail.googleapis.com/gmail/v1/users/me/messages/' + $json.messageId + '/attachments/' + $json.attachmentId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gmailOAuth2",
        "options": {
          "timeout": 30000
        }
      },
      "id": "c3d4e5f6-3456-4cde-af01-000000000003",
      "name": "Fetch Attachment Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [224, 60],
      "onError": "continueErrorOutput",
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Large PDFs: data arrives from the Fetch Attachment Data HTTP response.\n// Gmail uses base64url (RFC 4648 §5: - and _ instead of + and /).\n// Convert to standard base64 then expose as binary.file.\n\nconst pdfInfo = $('Extract PDF Parts').item.json;\n\nconst results = [];\nfor (const item of $input.all()) {\n  const base64url = (item.json.data || '').trim();\n  if (!base64url) {\n    throw new Error('Fetch Attachment Data returned no bytes — check Gmail OAuth2 scope includes gmail.readonly');\n  }\n\n  const base64 = base64url.replace(/-/g, '+').replace(/_/g, '/');\n  const buffer = Buffer.from(base64, 'base64');\n\n  const binaryData = await $helpers.prepareBinaryData(\n    buffer,\n    pdfInfo.filename || 'ticket.pdf',\n    pdfInfo.mimeType || 'application/pdf'\n  );\n\n  results.push({\n    json: { messageId: pdfInfo.messageId },\n    binary: { file: binaryData },\n  });\n}\n\nreturn results;"
      },
      "id": "d4e5f6a7-4567-4def-b012-000000000004",
      "name": "Convert to Binary (fetched)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [464, 60]
    },
    {
      "parameters": {
        "jsCode": "// Small PDFs (<~10 KB): body.data is already present inline in the\n// full-message response. No separate fetch needed.\n\nconst pdfInfo = $input.item.json;\nconst base64url = (pdfInfo.inlineData || '').trim();\nif (!base64url) {\n  throw new Error('Expected inline attachment data but body.data was empty');\n}\n\nconst base64 = base64url.replace(/-/g, '+').replace(/_/g, '/');\nconst buffer = Buffer.from(base64, 'base64');\n\nconst binaryData = await $helpers.prepareBinaryData(\n  buffer,\n  pdfInfo.filename || 'ticket.pdf',\n  pdfInfo.mimeType || 'application/pdf'\n);\n\nreturn [{\n  json: { messageId: pdfInfo.messageId },\n  binary: { file: binaryData },\n}];"
      },
      "id": "e5f6a7b8-6789-4efg-c123-000000000011",
      "name": "Convert to Binary (inline)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [224, 240]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://voucher.nasmatrix.app/api/v1/imports/rail-ticket/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "file"
            },
            {
              "name": "create",
              "value": "true"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "2169bfef-c364-45aa-adc7-daaa38244917",
      "name": "Create VoucherVault Item",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [704, 140],
      "onError": "continueErrorOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_YOUR_VOUCHERVAULT_CREDENTIAL_ID",
          "name": "VoucherVault API token"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Watch for Ticket Emails').item.json.id }}",
        "labelIds": [
          "Label_8788511618368682923"
        ]
      },
      "id": "f2836d61-2cf8-4800-9712-95075b641bd8",
      "name": "Label: Processed",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [944, 60],
      "webhookId": "39a54e3d-4d05-4748-9860-dfb4cb9e2761",
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Watch for Ticket Emails').item.json.id }}",
        "labelIds": [
          "Label_3322627571487165776"
        ]
      },
      "id": "35d49af8-550c-4033-ab9b-452b0d477682",
      "name": "Label: Failed",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [944, 320],
      "webhookId": "d269da17-9ff1-44b3-9433-55f6e399cb2e",
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ntfy.sh/CHANGE_ME",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Title",
              "value": "Rail ticket imported"
            },
            {
              "name": "Priority",
              "value": "default"
            },
            {
              "name": "Tags",
              "value": "train,white_check_mark"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ 'Ticket: ' + ($('Create VoucherVault Item').item.json.name || $('Create VoucherVault Item').item.json.issuer || 'unknown') }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "a9b8c7d6-9012-4abc-def0-000000000020",
      "name": "Notify: Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1184, 60]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ntfy.sh/CHANGE_ME",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Title",
              "value": "Rail ticket import FAILED"
            },
            {
              "name": "Priority",
              "value": "high"
            },
            {
              "name": "Tags",
              "value": "train,x"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ 'Import failed. Email ID: ' + $('Watch for Ticket Emails').item.json.id }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "b8c7d6e5-8901-4bcd-ef01-000000000021",
      "name": "Notify: Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1184, 320]
    },
    {
      "parameters": {},
      "id": "76f359a0-67d9-4139-8a51-1de435e4049a",
      "name": "No PDF - skip",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [-16, 400]
    }
  ],
  "connections": {
    "Watch for Ticket Emails": {
      "main": [
        [
          {
            "node": "Get Full Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Full Message": {
      "main": [
        [
          {
            "node": "Extract PDF Parts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Label: Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Parts": {
      "main": [
        [
          {
            "node": "Has PDF?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has PDF?": {
      "main": [
        [
          {
            "node": "Needs Fetch?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No PDF - skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Fetch?": {
      "main": [
        [
          {
            "node": "Fetch Attachment Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to Binary (inline)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Attachment Data": {
      "main": [
        [
          {
            "node": "Convert to Binary (fetched)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Label: Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Binary (fetched)": {
      "main": [
        [
          {
            "node": "Create VoucherVault Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Binary (inline)": {
      "main": [
        [
          {
            "node": "Create VoucherVault Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create VoucherVault Item": {
      "main": [
        [
          {
            "node": "Label: Processed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Label: Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Label: Processed": {
      "main": [
        [
          {
            "node": "Notify: Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Label: Failed": {
      "main": [
        [
          {
            "node": "Notify: Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "v4-2026-07-21",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": ""
  },
  "nodeGroups": [],
  "tags": []
}
